body{
    margin: 0;
}

.parent_div{
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 36, 25);
    color: white;
    margin: 10px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;

}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: rgb(148, 230, 202);
}

.lorem_div{
    display: flex;
    margin: 5px;
}

.master_div{
    display: flex;
    justify-content: center;
    gap: 10px;
    color:black;
    margin: 10px;
}

.master_div div{
    border: 1px solid blue;
    border-radius: 5px;
    flex-basis: 200px;
    padding: 1px;
    text-align: center;
}

