body{
    margin: 0;
}

.parent_div{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(224, 129, 145);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.parent_div a{
    text-decoration: none;
    color: white;
}

form{
    background-color: rgb(236, 126, 144);
    margin-top: 10px;
    text-align: center;
    width: 400px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

button{
    border: none;
}

button :hover{
    color: pink;
}

.main_div{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.main_div div{
    border: 2px solid rgb(231, 108, 129);
    border-radius: 5px;
    flex-basis: 200px;
    text-align: center;
}


