body{
    margin: 0;
}

.parent_div{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(45, 2, 56);
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: rgb(132, 55, 139);
}

.lorem_div{
    display: flex;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

img{
    width: 300px;
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 10px;
}

.parent2_div{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.parent2_div div{
    border: 2px solid gold;
    border-radius: 5px;
    width: 500px;
    text-align: center;
    flex-basis: 200px;

}